jupyterlab
pandas
numpy
scipy
beautifulsoup4
requests
selenium
opencv-python
cv2-tools
Pillow
dlib
pathlib2
matplotlib
seaborn
graphviz
category-encoders
gdown
GPy
imbalanced_learn
ipywidgets
scikit-learn
TIME-python
DateTime
tqdm
Counter
preamble
face-detection-tflite
face-recognition
keras-facenet